<div class="view-container profile-page">
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#/user/{{model.userID}}/mission">Analyze Mission</a>
    </nav>

    <div class="container-fluid">
        <div class="text-center">
            <img class="mb-4" src="../../assets/images/drone.png" alt="" width="160" height="90">
        </div>
        <h3 class="mb-3 font-weight-normal lig">Analyze Mission</h3>
        <div class="form-group">
            <div class="row button-group">
                <div class="col-sm-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile-1"
                               ngf-select="model.uploadImages($files)"
                               accept="image/*" multiple>
                        <label class="custom-file-label" for="customFile-1">Upload Images</label>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li ng-repeat="f in model.images" class="list-group-item">
                            {{f.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row button-group">
                <div class="col-sm-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile-2"
                               ngf-select="model.uploadPlan($file)"
                               accept=".csv" ngf-pattern="'.csv'">
                        <label class="custom-file-label" for="customFile-2">Choose a mission plan</label>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li ng-repeat="f in model.plan" class="list-group-item">
                            {{f.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-primary"
                        ng-click="model.validate()">Validate Mission
                </button>
            </div>
            <br/>
            <div class="text-center">
                <a class="btn btn-block btn-success" href="#/map">See Path
                </a>
            </div>
            <br/>
            <div ng-show="model.success" class="alert alert-success" role="alert">
                {{model.success}}
            </div>
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#/user/{{model.userID}}">
                <i class="fas fa-user"></i>
            </a>
        </nav>
    </nav>
</div>

<div class="comp-page">

</div>
